.body{
    background: rgb(255, 255, 255) !important;
    
}
.justify-space-betweenn {
    justify-content: space-between !important;
    align-items: center !important;
}
.fs-large{
    font-size: 1.5rem;
}
.h-meio{
    height: 60px;
    
}