.navbar-collapse-custom {
  max-height: 0;
  opacity: 0;
}

.navbar-collapse-custom.menu-enter {
  max-height: 800px; /* ajusta conforme o tamanho do conteúdo */
  opacity: 1;
}

.navbar-collapse-custom.menu-exit {
  max-height: 0;
  opacity: 0;
}
.navbar-collapse-custom {
  transform-origin: top;
  transform: scaleY(0.95);
  transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.4s ease;
}

.navbar-collapse-custom.menu-enter {
  max-height: 800px;
  opacity: 1;
  transform: scaleY(1);
}

.navbar-collapse-custom.menu-exit {
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.95);
}

